<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKKO ticket management software</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">-->
</head>

<body>
    <div class="container">
        <h1 id="webpage">NIKKO ticket management software</h1>
        <form action="/" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control" id="username" name="username"
                    placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
            <a href="{{url_for('register')}}">Register</a>
        </form>
    </div>
</body>

</html>
