<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">-->
    <title>zeik Todo List </title>
</head>
<body>
    <h1>Your ticket: {{ ticket_title }}</h1>


    <h2>
        <a href="{{url_for('home')}}">Home</a>

    </h2>

    <form action="{{ url_for('add') }}" method="post">
        <input type="text" name="todo">
        <button type="submit">Add Task</button>
    </form>

    <ul>



        {% for todo in todos %}
            <li>
                <input type="checkbox" name="done", ID = "{{todo.ID}}" {% if todo.status %} checked {%endif%} onchange="this.form.submit">
                <span>{{ todo.description }}</span>
                <!--<a href="{{ url_for('check', index=loop.index0) }}">Done</a>-->
                <a href="{{ url_for('edit_todo', todo_id=todo.ID) }}">Edit</a>
                <a href="{{ url_for('delete_todo', todo_id=todo.ID) }}">Delete</a>
                </form>
            </li>
        {% endfor %}
    </ul>


    <h3><a href="{{url_for('logout')}}">Log out</a></h3>

    <script>
        (() => {
          let httpRequest;
            const ajaxCheckboxes = document.getElementsByName("done");

        for (const checkbox of ajaxCheckboxes) {
            checkbox.addEventListener("change", () => makeRequest(checkbox.id, checkbox.checked));
            console.log(checkbox.checked)
        }


          function makeRequest(todo_id, todo_status) {
            httpRequest = new XMLHttpRequest();

            if (!httpRequest) {
              alert("Giving up :( Cannot create an XMLHTTP instance");
              return false;
            }
            httpRequest.onreadystatechange = alertContents;
            httpRequest.open("GET", "{{url_for('ajaxtest')}}?ID=" + todo_id + "&status=" + todo_status);
            httpRequest.send();
          }

          function alertContents() {
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
              if (httpRequest.status === 200) {
                alert(httpRequest.responseText);
              } else {
                alert("There was a problem with the request.");
              }
            }
          }
        })();
      </script>


</body>

</html>